# Tuples 
 Tuples are ordered collection of items that are immutable. They are similar to lists, but thier immutability makes them different.

In [1]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple = (1,"hello",3.24,True)
print(mixed_tuple)

(1, 'hello', 3.24, True)

In [7]:
## Accessing tuple elements.

numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
print(numbers[2])

3

In [9]:
numbers[:2]

(1, 2)

In [10]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [12]:
## Tuple Operations 

concatenation_tuples = numbers + mixed_tuple
print(concatenation_tuples)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.24, True)

In [14]:
mixed_tuple*3 # Entire tuple appends 3 times

(1, 'hello', 3.24, True, 1, 'hello', 3.24, True, 1, 'hello', 3.24, True)

In [15]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [18]:
## Immuatable natures of tuples
## Tuples are immutable , meaning their elements cannot be changed once assigned.

lst = [1,2,3,4,5]
print(lst)

lst[1] = "anshu"
print(lst)

[1, 2, 3, 4, 5]
[1, 'anshu', 3, 4, 5]

In [2]:
numbers = tuple([1,2,3,4,5,6])
numbers[1] = "anshu"

TypeError: 'tuple' object does not support item assignment

In [22]:
## Tuple methods 
print(numbers)
print(numbers.count(2))
print(numbers.index(3))

(1, 2, 3, 4, 5, 6)
1
2

In [25]:
## Packing and unpacking tuple
## Packing
packed_tup = 1,"hello",3.24
print(packed_tup)
## Unpacking
a,b,c = packed_tup
print(a)
print(b)
print(c)

(1, 'hello', 3.24)
1
hello
3.24

In [26]:
## unpacking tuple with *
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:

## nested list with tuple
lst = [(1,2,3,4),[23,45,32,23],[34,32,24,54]]
lst[0][3]

4

In [32]:
## nested tuples
nested_tup = ((1,2,3),('a','b','c'),(True,False))

## Access the elements inside a tuple
print(nested_tup)
print(nested_tup[1])
print(nested_tup[1][2])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
('a', 'b', 'c')
c

In [11]:
## Iterating over nested tuple
nested_tup = ((1,2,3),('a','b','c'),(True,False))
for sub_tuple in nested_tup:
    for item in sub_tuple:
        print(item,end=" , ")

1 , 2 , 3 , a , b , c , True , False ,

### Conclusion - 
tuples are versatile and useful in many real-world scenerios where an immutable and ordered collection of items is required . They are commonly used in data structures, functions arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of python code.