## SQLite

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')

In [3]:
cursor = connection.cursor()

In [4]:
## Create a Table

cursor.execute(
    '''
Create  Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
'''
)

## Commit the changes
connection. commit()

In [5]:
cursor.execute(
    '''
Select * from employees
'''
)

In [6]:
## Insert the data in sqlite table

cursor.execute(
'''
Insert Into employees(name,age,department)
            values('Anshika',18,'Data Scientist')
'''
)

cursor.execute(
'''
Insert Into employees(name,age,department)
            values('Minni',19,'Computer application')
'''
)

cursor.execute(
'''
Insert Into employees(name,age,department)
            values('Palak',19,'Finance')
'''
)

# Commit changes
connection.commit()

In [7]:
# Query the data from table
cursor.execute("Select * from employees")
rows = cursor.fetchall()

# Print queried data
for row in rows:
    print(row)

(1, 'Anshika', 18, 'Data Scientist')
(2, 'Minni', 19, 'Computer application')
(3, 'Palak', 19, 'Finance')

In [8]:
## update the database
cursor.execute(
    '''
UPDATE employees
Set age=20
where name = 'Anshika'   

'''
)
connection.commit()

In [9]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()

# Print queried data
for row in rows:
    print(row)

(1, 'Anshika', 20, 'Data Scientist')
(2, 'Minni', 19, 'Computer application')
(3, 'Palak', 19, 'Finance')

In [10]:
## Delete the data form the table

cursor.execute(
    ''' 
    DELETE from employees
    where name='Anshika'
'''

)
cursor.execute("Select * from employees")
rows = cursor.fetchall()

# Print queried data
for row in rows:
    print(row)

(2, 'Minni', 19, 'Computer application')
(3, 'Palak', 19, 'Finance')

In [11]:
connection.close()

In [12]:
##Working with sales data.
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## Create  table for sales data
cursor.execute(
''' 
CREATE TABLE IF NOT EXISTS sales(
id INTEGER PRIMARY KEY,
date TEXT NOT NULL,
product TEXT NOT NULL,
sales INTEGER,
region TEXT
)
'''

)

## Insert Sales data
sales_data=[
    ('2025-01-01','Product1',100,'North'),
    ('2025-01-02','Product2',200,'South'),
    ('2025-01-03','Product3',150,'East'),
    ('2025-01-04','Product4',200,'West'),
    ('2025-01-05','Product5',300,'North')
]

cursor.executemany(
    ''' 
Insert into sales(date,product,sales,region)
values(?,?,?,?)
''',sales_data
)

connection.commit()

cursor.execute("Select * from sales")
rows = cursor.fetchall()

# Print queried data
for row in rows:
    print(row)

(1, '2025-01-01', 'Product1', 100, 'North')
(2, '2025-01-02', 'Product2', 200, 'South')
(3, '2025-01-03', 'Product3', 150, 'East')
(4, '2025-01-04', 'Product4', 200, 'West')
(5, '2025-01-05', 'Product5', 300, 'North')

In [ ]:
# connection close
connection.close()