### Data Manipulation and Analysis with Pandas
Data Manipulation and analysis are key tasks in nay data science or data analysis project. Pandas provides a wide range of functions for data manipulation and analysis , making easier to clean , transform , and extract insights from data .

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
print(data)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [5]:
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [6]:
data.tail()

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [7]:
data.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [8]:
data.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [9]:
## Handling missing values
data.isnull()

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [10]:
data.isnull().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28     True
29    False
30    False
31    False
dtype: bool

In [11]:
data.isnull().any()

Duration    False
Date         True
Pulse       False
Maxpulse    False
Calories     True
dtype: bool

In [12]:
data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [13]:
data_filled = data.fillna(0)
data_filled

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       0.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45             0    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       0.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [14]:
## Filling missing value with the mean of the coloumn
data['Calories_fillNa'] = data['Calories'].fillna(data['Calories'].mean())
data

    Duration          Date  Pulse  Maxpulse  Calories  Calories_fillNa
0         60  '2020/12/01'    110       130     409.1           409.10
1         60  '2020/12/02'    117       145     479.0           479.00
2         60  '2020/12/03'    103       135     340.0           340.00
3         45  '2020/12/04'    109       175     282.4           282.40
4         45  '2020/12/05'    117       148     406.0           406.00
5         60  '2020/12/06'    102       127     300.0           300.00
6         60  '2020/12/07'    110       136     374.0           374.00
7        450  '2020/12/08'    104       134     253.3           253.30
8         30  '2020/12/09'    109       133     195.1           195.10
9         60  '2020/12/10'     98       124     269.0           269.00
10        60  '2020/12/11'    103       147     329.3           329.30
11        60  '2020/12/12'    100       120     250.7           250.70
12        60  '2020/12/12'    100       120     250.7           250.70
13        60  '2020/12/13'    106       128     345.3           345.30
14        60  '2020/12/14'    104       132     379.3           379.30
15        60  '2020/12/15'     98       123     275.0           275.00
16        60  '2020/12/16'     98       120     215.2           215.20
17        60  '2020/12/17'    100       120     300.0           300.00
18        45  '2020/12/18'     90       112       NaN           304.68
19        60  '2020/12/19'    103       123     323.0           323.00
20        45  '2020/12/20'     97       125     243.0           243.00
21        60  '2020/12/21'    108       131     364.2           364.20
22        45           NaN    100       119     282.0           282.00
23        60  '2020/12/23'    130       101     300.0           300.00
24        45  '2020/12/24'    105       132     246.0           246.00
25        60  '2020/12/25'    102       126     334.5           334.50
26        60      20201226    100       120     250.0           250.00
27        60  '2020/12/27'     92       118     241.0           241.00
28        60  '2020/12/28'    103       132       NaN           304.68
29        60  '2020/12/29'    100       132     280.0           280.00
30        60  '2020/12/30'    102       129     380.3           380.30
31        60  '2020/12/31'     92       115     243.0           243.00

In [15]:
data.dtypes

Duration             int64
Date                object
Pulse                int64
Maxpulse             int64
Calories           float64
Calories_fillNa    float64
dtype: object

In [16]:
## Renaming coloumns
data = data.rename(columns={'Calories':'Initial_Calories'})
data.head()

   Duration          Date  Pulse  Maxpulse  Initial_Calories  Calories_fillNa
0        60  '2020/12/01'    110       130             409.1            409.1
1        60  '2020/12/02'    117       145             479.0            479.0
2        60  '2020/12/03'    103       135             340.0            340.0
3        45  '2020/12/04'    109       175             282.4            282.4
4        45  '2020/12/05'    117       148             406.0            406.0

In [17]:
## Change dataTypes
data['Calories_New'] = data['Calories_fillNa'].astype(int)
data.head()

,Duration,Date,Pulse,Maxpulse,Initial_Calories,Calories_fillNa,Calories_New
0,60,'2020/12/01',110,130,409.1,409.1,409
1,60,'2020/12/02',117,145,479.0,479.0,479
2,60,'2020/12/03',103,135,340.0,340.0,340
3,45,'2020/12/04',109,175,282.4,282.4,282
4,45,'2020/12/05',117,148,406.0,406.0,406

In [18]:
data['New Calories'] = data['Calories_New'].apply(lambda x:x**2)
data.head()

,Duration,Date,Pulse,Maxpulse,Initial_Calories,Calories_fillNa,Calories_New,New Calories
0,60,'2020/12/01',110,130,409.1,409.1,409,167281
1,60,'2020/12/02',117,145,479.0,479.0,479,229441
2,60,'2020/12/03',103,135,340.0,340.0,340,115600
3,45,'2020/12/04',109,175,282.4,282.4,282,79524
4,45,'2020/12/05',117,148,406.0,406.0,406,164836

In [19]:
## Data aggregrating and grouping
grouped_mean  = data.groupby('Duration')['Pulse'].mean()
print(grouped_mean)

Duration
30     109.000
45     103.000
60     103.375
450    104.000
Name: Pulse, dtype: float64

In [27]:
grouped_sum = data.groupby(['Duration','Pulse'])['Maxpulse'].sum()
print(grouped_sum)

Duration  Pulse
30        109      133
45        90       112
          97       125
          100      119
          105      132
          109      175
          117      148
60        92       233
          98       367
          100      612
          102      382
          103      537
          104      132
          106      128
          108      131
          110      266
          117      145
          130      101
450       104      134
Name: Maxpulse, dtype: int64

In [45]:
grouped_agg  = data.groupby('Duration')['Pulse'].agg(['mean','sum','count'])
(grouped_agg)

             mean   sum  count
Duration
30        109.000   109      1
45        103.000   618      6
60        103.375  2481     24
450       104.000   104      1

In [36]:
## Merging and joining DataFrames

data1 = pd.DataFrame({'Key':['A','B','C'],'Value1':[1,2,3]})
data2 = pd.DataFrame({'Key':['A','B','D'],'Value2':[4,5,6]})

In [37]:
data1

  Key  Value1
0   A       1
1   B       2
2   C       3

In [38]:
data2

  Key  Value2
0   A       4
1   B       5
2   D       6

In [ ]:
## Merge Dataframe on the "Key Coloumns"

                    # column    
pd.merge(data1,data2,on='Key',how = 'inner')

  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [40]:
pd.merge(data1,data2,on='Key',how = 'outer')

  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [ ]:
pd.merge(data1,data2,on='Key',how = 'left')#left dataframe will be given more priority

  Key  Value1  Value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

In [ ]:
pd.merge(data1,data2,on='Key',how = 'right')
# Right dataframe will be given more priority

  Key  Value1  Value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6